<head><%= stylesheet_link_tag 'home', media: 'all' %>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<div class="homepage">
    <h1>TRIVIA DUEL <%= image_tag "trivia_duel.png", alt: "8-bit sword", class: "image-class", style: "width:80px;height:auto" %> </h1>
    <div class="instructions">
        <h2><u>Instructions</u></h2>
        <p>
            Be the first to reach the chosen number of points to win!<br><br>
            Enter your names, set the points to win, and get ready.<br><br>
        </p>
        <h2><u>Gameplay</u></h2>
        <p>
            The first player to buzz gets a chance to answer.<br><br>
            Player 1 presses A and Player 2 presses L.<br><br>
            If wrong, the other player has 10 seconds to steal or skip.<br><br>
            You can skip questions anytime without penalty.<br>
        </p>
    </div>
    <button id="start_game_button">Start Game</button>
    <p>Good luck, and may the quickest thinker win!</p>
    <%= javascript_include_tag 'home' %>
</div>