body, html {
    margin: 0;
    padding: 0;
    background-color: rgb(3, 3, 91);
}

.winner-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-color: rgb(3, 3, 91);
    color: white;
    overflow: hidden;
    z-index: 2;
}

.gif-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/congratulations.gif');
    background-size: cover;
    background-position: center;
    opacity: 1.0;
    z-index: -1;
}

h1, p, button {
     z-index: 2;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.8);
    }
}

.winner-page h1 {
    font-family: 'VT323';
    font-size: 3.5rem;
    color: white;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    animation: pulse 1.5s infinite;
}


.winner-page p {
    font-family: 'VT323';
    font-size: 2.5rem;
    color: white;
    margin-bottom: 40px;
    letter-spacing: 0.1em;
    opacity: 0;
    animation: fadeIn 4s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.winner-page .game-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    background-color: lightslategray;
    color: white;
    font-family: 'Press Start 2P';
    font-size: 1rem;
    margin: 10px 0;
    border-radius: 3px;
    box-shadow: 4px 4px 0 #000;
    cursor: pointer;
}
.game-button:hover {
    background-color: rgb(103, 119, 135);
    color: yellow;
}
.game-button:active {
    color: red;
}

